body {
    font-family: 'Arial';
    background-color:rgb(227, 229, 233);
}

aside {
    float: left;
    background-color: rgba(99, 99, 99, 0.801);
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    color: aliceblue;
    border-right: 5px;
    
}

aside img {
    width: 50px;
    float: left;
}

aside  ul {list-style: none;}

aside ul li:hover,aside ul a:hover {
    color: brown;
    text-decoration: none;
}

div#table{
    float: left;
    width: 1000px;
    margin-left: 50px;

}

div#add {
    float:left;
    width: 350px;
    margin-left: 300px;

}

div#detail {
    float:  left;
    width: 900px;
    margin-left: 100px;
}

