body {
    background-color:cornflowerblue;
}

aside {
    float: left;
    background-color: rgba(99, 99, 99, 0.801);
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    color: aliceblue;
    border-right: 5px;
    
}

aside img {
    width: 50px;
    float: left;
}

aside  ul {list-style: none;}

aside ul li:hover,aside ul a:hover {
    color: brown;
    text-decoration: none;
}

div.alert-warning {
    float: left;
    width: 500px;
    margin-left: 300px;

}

div.features {
    float:left;
    width: 300px;
    margin-left: 400px;

}