{% extends 'main/layout.html' %}


{% block title %}add record{% endblock %}

{% block string %}
    <div class="features", id="add">
        <h1>add article</h1>
        <form method="post" enctype="multipart/form-data">
            {%csrf_token %}
            {% for i in form %}
                <p><label class="form-label" for="{{i.id_for_label }}">{{ i.label }}</label>{{ i }}</p>
            {% endfor %}
            <button class="btn btn-success" type="submit">add article</button><br>

        </form>
    </div>
{% endblock %}