{% extends 'main/layout.html' %}


{% block title %}contact us{% endblock %}


{% block string %}
<div>
    <h1>Hello</h1>
    <p>If you have any questions or complaints about the operation of the site, please write to us about it in this form</p>
</div>
<form method="post" id="useregister">
    {% csrf_token %}

    <div class="'form-error">{{ form.non_field_errors }}</div>
    
    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}"></label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}


    <button type="submit">send</button>
</form>

{% endblock %}